@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Cinzel:wght@400;500;600;700;800;900&family=Great+Vibes&family=Pacifico&family=Sacramento&display=swap");
/* font-family: "Merriweather", serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  color: white;
  font-weight: 400;
  background: linear-gradient(135deg, #363636, #212f45, #422e20, #402240);
  /* background-image: url("../public/bg-Op.svg"); */
  /* background-repeat: repeat; */
  /* background-size: cover; */
  /* overflow: hidden; */
}

header a {
  color: #ffffff;
  cursor: pointer;
}
nav a {
  position: relative;
  z-index: 1;
}

nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav a:hover:after {
  width: 100%;
  transition: all 0.5s;
}
